[submodule "go-htmx-gl"]
	path = go-htmx-gl
	url = git@github.com:ngramp/go-htmx-gl.git
[submodule "gl-source"]
	path = gl-source
	url = git@github.com:ngramp/gl-source.git
[submodule "quasar-globolist"]
	path = quasar-globolist
	url = git@github.com:ngramp/quasar-globolist.git
[submodule "quarkus-api"]
	path = quarkus-api
	url = git@github.com:ngramp/quarkus-api.git
[submodule "globolistApi"]
	path = globolistApi
	url = git@github.com:ngramp/globolist-api.git
[submodule "vuetify-globolist"]
	path = vuetify-globolist
	url = git@github.com:ngramp/vuetify-globolist.git
[submodule "glnext"]
	path = glnext
	url = git@github.com:ngramp/glnext.git
[submodule "GoHtmxGL"]
	path = GoHtmxGL
	url = git@github.com:ngramp/GoHtmxGL.git
